---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import ContactSection from "@components/sections/misc/ContactSection.astro";
import { SITE } from "@data/constants";

const pageTitle: string = `Contact | ${SITE.title}`;
---

<!--Utilizing MainLayout for the outer layout of the page, and defining meta for SEO purposes-->
<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://xequals.ai/contact",
    "url": "https://xequals.ai/contact",
    "name": "Contact Us | XEqualsAI",
    "description":
      "Have questions or want to discuss a project? Reach out, and let's craft the perfect solution with our tools and services.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://xequals.ai",
      "name": "XEqualsAI",
      "description":
        "XEqualsAI transforms raw data into high-impact labeled assets for AI at scale.",
    },
    "inLanguage": "en-US"
  }}
>
  <ContactSection />
  <footer class=" text-white py-8 px-6 md:px-12 mt-10 text-center">
    <p class="text-sm">© 2024 XEqualsAI. All rights reserved.</p>
  </footer>
</MainLayout>
