---
// Import necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@components/ui/blocks/MainSection.astro";
import LeftSection from "@components/ui/blocks/LeftSection.astro";
import RightSection from "@components/ui/blocks/RightSection.astro";
import FeaturesStats from "@components/sections/features/FeaturesStats.astro";

// Import necessary images
import blueprints from "@images/blueprints-image.avif";
import personWorking from "@images/person-working.avif";
import beforeAfter from "@images/before-after.avif";
import constructionWorkers from "@images/construction-workers.avif";
import aerialView from "@images/aerial-view.avif";
import usingTools from "@images/using-tools.avif";
import progressBuilding from "@images/progress-building.avif";
import underConstruction from "@images/under-construction.avif";
import { SITE } from "@data/constants";

interface Article {
  title: string;
}

const pageTitle: string = `Services | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/services",
    "url": "https://screwfast.uk/services",
    "name": "Expert Consultation Services | ScrewFast",
    "description": "Uniting expertise with your vision, ScrewFast provides exceptional service and comprehensive solutions in the hardware and construction industry, from consultation to project completion.",
    "isPartOf": {
        "@type": "WebSite",
        "url": "https://screwfast.uk",
        "name": "ScrewFast",
        "description": "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "en-US"
  }}
>

<div>
  <div>

    <div>
      <h1 class="text-center md:text-6xl mt-[150px]  font-bold bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400">
        Empowering Your Buisness with comprehensive Data Annotation Services
      </h1>
    </div>
    <div class="bg-indigoBlue h-[30em] flex-row">
    <div class="flex justify-center items-center bg-indigoBlue ">
      <div class="flex flex-row space-x-2 gap-10 lg:text-2xl tabs justify-center items-center  border-b-2 border-white w-fit ">
        <button id='image-button' class="text-gray-300 p-6 tab-links tab-button" onclick="getAnnotation(Event,'image',id)">Image Annotation</button> 
        <button id='text-button' class="text-gray-300 p-6 tab-links tab-button" onclick="getAnnotation(Event,'text',id)">Text Annotation</button>
        <button id='video-button' class="text-gray-300 p-6 tab-links tab-button" onclick="getAnnotation(Event,'video',id)">Video Annotation</button>
        <button id='audio-button' class="text-gray-300 p-6 tab-links tab-button" onclick="getAnnotation(Event,'audio',id)">Audio Annotation</button>
      </div> 
    </div> 

    <div class="flex flex-row mx-[25rem]">

      <div class="h-[22rem] w-1/2 py-2">
        <div class="tab-content " id="image">
          <div>
            <h1 class="text-2xl text-white">Bounding Box Annotation</h1>
            <p class="text-1xl text-white">Detect and classify objects in images</p>
          </div>
          <div>
            <h1 class="text-2xl text-white">Semantic segmentation</h1>
            <p class="text-1xl text-white">Classify each pixel  of an image  into predefined categories</p>
          </div>
          <div>
            <h1 class="text-2xl text-white">Key Point Annotation</h1>
            <p class="text-1xl text-white">Mark Specific points of interest in am image</p>
          </div>
          <div>
            <h1 class="text-2xl text-white">Image Tagging</h1>
            <p class="text-1xl text-white">Adds descriptive tags to an image</p>
          </div>
          </div>
          <div class="tab-content" id="text" style="display:none">
            <div>
              <h1 class="text-2xl text-white">Entity Annotation</h1>
              <p class="text-1xl text-white">Detect and classify objects in images</p>
            </div>
            <div>
              <h1 class="text-2xl text-white">Semantic Annotation</h1>
              <p class="text-1xl text-white">Classify each pixel  of an image  into predefined categories</p>
            </div>
            <div>
              <h1 class="text-2xl text-white">Text Classification</h1>
              <p class="text-1xl text-white">Mark Specific points of interest in am image</p>
            </div>
            </div> 
            <div class="tab-content" id="audio" style="display:none">
              <div>
                <h1 class="text-2xl text-white">Speech-To-Text Transition  </h1>
                <p class="text-1xl text-white">Convert spoken words into text </p>
              </div>
              <div>
                <h1 class="text-2xl text-white">Audio Classification</h1>
                <p class="text-1xl text-white">Categorize audio into predefined classes</p>
              </div>
              <div>
                <h1 class="text-2xl text-white">Acoustic Event Detection</h1>
                <p class="text-1xl text-white">Detect and classify specific sounds</p>
              </div>
            
              <div>
                <h1 class="text-2xl text-white">Text-Stamped Annotation</h1>
                <p class="text-1xl text-white">Tag specific segments of audio data</p>
              </div>
              </div>
              
              <div class="tab-content" id="video" style="display:none">
                <div>
                  <h1 class="text-2xl text-white">Frame-by-Frame Annotation</h1>
                  <p class="text-1xl text-white">Annotate each frame as a standalone image</p>
                </div>
                <div>
                  <h1 class="text-2xl text-white">Object Tracking</h1>
                  <p class="text-1xl text-white">Track objects across video frames</p>
                </div>
                <div>
                  <h1 class="text-2xl text-white">Scene Annotation</h1>
                  <p class="text-1xl text-white">Label entire screens with descriptive tags</p>
                </div>
              
                <div>
                  <h1 class="text-2xl text-white">Pose Estimation</h1>
                  <p class="text-1xl text-white">Mark body joint movements over time.</p>
                </div>
                </div>

      </div>  
      <div>
        <img src="" alt="">
      </div>
    </div>
    

    </div>
  </div>

  <div class="mt-[10rem]">

    <div class="flex  flex-col lg:gap-[2.5rem]">
    <div class="flex flex-col justify-center items-center  font-bold">
      <h1 class="text-violet text-4xl ml-10  pb-[2rem]">How Does it Work?</h1>
      <p class="text-gray-400 sm:text-3xl text lg:text-2xl lg:p-10 text-center pb-[2rem]">At Prithvi Technologies,we streamline your data annotation projects through a structured approach </p>
    </div>
<!-- how does it Work? -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 p-2">

      <!-- 1. -->
      <div class="number-card flex-row space-x-2 text-center space-y-2 ">
        <div class="flex flex-row gap-2 justify-center items-center ">
          <div class="">01.</div>
          <div class="text-gray-300  tab-mov">Project Management <span class="bottom-line"></span></div>
          
        </div>
        <div class="text-gray-400 text-base lg:px-[5rem] ">We oversee your entire project, ensuring seamless
          execution and relieving you from time management concerns.
        </div>
      </div>
      <!-- 2. -->
      <div class="number-card flex-row space-x-2 text-center space-y-2">
        <div class="flex flex-row gap-2 justify-center items-center">
          <div class="">02.</div>
          <div class="text-gray-300 tab-mov">Tool Selection<span class="bottom-line"></span></div>
        </div>
        <div class="text-gray-400 text-base lg:px-[5rem]">We oversee your entire project, ensuring seamless
          execution and relieving you from time management concerns.
        </div>
      </div>
      <!-- 3. -->
      <div class="number-card flex-row space-x-2 text-center space-y-2">
        <div class="flex flex-row gap-2 justify-center items-center ">
          <div class="">03.</div>
          <div class="text-gray-300 tab-mov">Annotators Coordination<span class="bottom-line"></span></div>
        </div>
        <div class="text-gray-400 text-base lg:px-[5rem]">We arrange the trained annotators, and manage
          the instructions, time management and costs
        </div>
      </div>

    </div>
    

    <div class="grid grid-cols-1 sm-grid-cols-2 lg:grid-cols-2 gap-5 pt-[2rem] ">
      <!-- 4. -->
      <div class="number-card flex-row space-x-2 text-center space-y-2">
        <div class="flex flex-row gap-2 justify-center items-center">
          <div class="">04.</div>
          <div class="text-gray-300 tab-mov">Data management <span class="bottom-line"></span></div>
        </div>
        <div class="text-gray-400 text-base  lg:px-[15rem]">We process your raw data, establishing a streamlined
          pipeline to deliver outputs in the required format for your MLOps.
        </div>
      </div>

      <!-- 5. -->
      <div class="number-card flex-row space-x-2 text-center space-y-2">
        <div class="flex flex-row gap-2 justify-center items-center">
          <div class="">05.</div>
          <div class="text-gray-300 tab-mov">Quality check<span class="bottom-line"></span></div>
        </div>
        <div class="text-gray-400 text-base lg:px-[15rem]">We have a dedicated team to check the quality of annotations
          and make sure you get &gt;95% accuracy
        </div>
      </div>
    </div>  
  </div>    
  </div>
      
  </div>
 </div>

</div>  
  </MainLayout>
  <style>
    .tab{
      overflow:hidden;
    }
    .tab-button{
      cursor: pointer;
      tansition:0.3s;
      
    }
    .tab-button:hover{
      /* border: 2px solid rgb(97, 86, 86); */
      border-radius: 5px;
      background-color: rgb(33, 56, 77);

    }
    .tab-mov{
      position: relative;
      cursor: pointer;
    }

    .bottom-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      /* padding: 2px; */
      background-color: #8bc0f1;
      transition: width 0.3s ease-in-out;
    }
    .tab-mov:hover .bottom-line{
      /* border-bottom: 2px solid white; */
      /* transition: 0.3s; */
      /* transition: width 0.3s ease-in-out; */
      width:100%
    }
    .active-button{
      background-color: #21384d;
    }
    .title-font{
      font-family: "Euclidcirculara, sans-serif";
    }
    .number-card{
      color: #7d6eeb;
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
    }
    
  </style>

  <script is:inline>

    function getAnnotation(evt,annotationType,id){
      var i,tabContent,tabLinks;
      tabContent = document.getElementsByClassName("tab-content");
      for(i=0;i<tabContent.length;i++){
        tabContent[i].style.display = "none";
      }
      tabLinks = document.getElementsByClassName('tab-links');
      for(i=0;i<tabLinks.length;i++){
        tabLinks[i].className = tabLinks[i].className.replace(" active","")
      }
      document.getElementById(annotationType).style.display = "block"
      evt.className+="active";
      // evt.body.tab-LinkButton.style.background-color="green"
      let type=document.getElementById(id)
      type.classList.add('active-button')
      
    }
  </script>

