---
import logo from "@images/xequalsai_icon.png";
---
<div {...Astro.props} class="flex items-center gap-3 whitespace-nowrap font-bold">
  
  <span class="text-white">XEquals</span><span class="text-[#7d6eeb]">AI</span>
</div>